<template>
  <div class="asteroids-date">
    <form @submit.prevent>
      <input v-model="startDate" type="date" placeholder="yyyy-mm-dd" />
      <input v-model="endDate" type="date" placeholder="yyyy-mm-dd" />
      <button @click="getAsteroidsByDate">Get Asteriods</button>
      <AsteroidDetail :asteroids="nearEarthAsteroids"/>
    </form>
  </div>
</template>

<style scoped>
  .asteroids-date {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .asteroids-date input {
    padding: 5px;
  }
</style>

<script>
import { sortData } from '../../common_functions';
import AsteroidDetail from '../components/AsteroidDetail.vue';

export default {
  data() {
    return {
      startDate: '',
      endDate: '',
      isDateGreaterThan7: false,
      nearEarthAsteroids: [],
    };
  },
  components: {
    AsteroidDetail,
  },
  methods: {
    getAsteroidsByDate() {
      const date1 = new Date(this.startDate);
      const date2 = new Date(this.endDate);
      const diffDate = Math.abs(date2 - date1);
      const diffDays = Math.ceil(diffDate / (1000 * 60 * 60 * 24));
      if (diffDays > 7) {
        // eslint-disable-next-line no-alert
        alert('Kindly enter dates that are not more than 7 days apart');
      } else {
        fetch(`https://api.nasa.gov/neo/rest/v1/feed?start_date=${this.startDate}&end_date=${this.endDate}&detailed=true&api_key=tujiOAC57b3zF4ScKOdKWdJQSvSrxPouHxCQeo6w`)
          .then(async (response) => {
            const data = await response.json();
            const nearEarthObj = data.near_earth_objects;
            const test = sortData(nearEarthObj);
            this.nearEarthAsteroids = test.slice(0, 10);
          }).catch((err) => {
            console.log(err);
          });
      }
    },
  },
};
</script>
