<template>
  <div>
    <SearchById />
    <DisplayAsteroids />
  </div>
</template>

<style scoped>
  .logout-btn {
    float: right;
  }
  .link {
    float: left;
  }
</style>

<script>
import SearchById from '../components/SearchById.vue';
import DisplayAsteroids from '../components/DisplayAsteroids.vue';
// import AsteroidsByDate from '../components/AsteroidsByDate.vue';

export default {
  components: {
    SearchById,
    DisplayAsteroids,
    // AsteroidsByDate,
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
    },
  },
};
</script>
