<template>
  <div>
    <PasswordReset v-if="showPasswordReset" @close="togglePasswordAndReset()"></PasswordReset>
    <section>
      <div class="login">
        <form v-if="showLoginForm" class="loginForm" @submit.prevent>
          <input
            type="text"
            id="email1"
            placeholder="you@email.com"
            v-model.trim="loginForm.email"
          />
          <input
            type="password"
            id="password1"
            placeholder="******"
            v-model.trim="loginForm.password"
          />
          <button @click="login()">Login</button>
          <div class="extras">
              <a @click="togglePasswordAndReset()">Forgot Password</a>
              <a @click="toggleForm()">Create an Account</a>
            </div>
        </form>
      </div>
      <div class="signup">
        <form v-if="!showLoginForm" class="signupForm" @submit.prevent>
            <input
              v-model.trim="signupForm.name"
              type="text"
              placeholder="Name"
              id="name"
            />
            <input
              v-model.trim="signupForm.email"
              type="text"
              placeholder="you@email.com"
              id="email2"
            />
            <input v-model.trim="signupForm.password"
              type="password"
              placeholder="min 6 characters"
              id="password2"
            />
            <button @click="signup()" class="button">Sign Up</button>
            <div class="extras">
              <a @click="toggleForm()">Back to Log In</a>
            </div>
          </form>
      </div>
    </section>
  </div>
</template>

<style scoped>
  .login {
    display: flex;
    justify-content: center;
    margin-top: 35vh;
  }
  .loginForm {
    display: flex;
    width: 50vh;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
  }

  .loginForm input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .loginForm button {
    width: max-content;
    align-self: center;
  }

  .extras {
    display: flex;
    justify-content: space-evenly;
    color: #9b9bdd;
  }

  .extras :hover {
    cursor: pointer;
  }

  .signup {
    display: flex;
    justify-content: center;
  }

  .signupForm {
    display: flex;
    width: 50vh;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
  }

  .signupForm input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .signupForm button {
    width: max-content;
    align-self: center;
  }

</style>

<script>
import PasswordReset from '../components/PasswordReset.vue';

export default {
  data() {
    return {
      loginForm: {
        email: '',
        password: '',
      },
      signupForm: {
        name: '',
        email: '',
        password: '',
      },
      showLoginForm: true,
      showPasswordReset: false,
    };
  },
  components: {
    PasswordReset,
  },
  methods: {
    login() {
      this.$store.dispatch('login', {
        email: this.loginForm.email,
        password: this.loginForm.password,
      });
    },
    signup() {
      this.$store.dispatch('signup', {
        email: this.signupForm.email,
        name: this.signupForm.name,
        password: this.signupForm.password,
      });
    },
    toggleForm() {
      this.showLoginForm = !this.showLoginForm;
    },
    togglePasswordAndReset() {
      this.showPasswordReset = !this.showPasswordReset;
    },
  },
};
</script>
