<template>
  <div>
    <div class="saved-asteroids">
      <AsteroidDetail :asteroids="savedAsteroids"/>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import AsteroidDetail from '../components/AsteroidDetail.vue';

export default {

  computed: {
    ...mapState(['userProfile', 'savedAsteroids']),
  },
  components: {
    AsteroidDetail,
  },
};
</script>
