<template>
  <div>
    <div class="asteroidDetails">
      <div class="card-layout">
        <div v-for="asteroid in asteroids" :key="asteroid.id" class="cards">
          <div class="inner">
            <div class="card-header">
              <span>{{ asteroid.name }}</span>
              <div v-if="asteroid.id == asteroidIdsObj[asteroid.id]">
                <PhTrash
                  class="icon-class"
                  :size="24"
                  color="#6a6a6a"
                  @click="deleteAsteroid(asteroid)"
                />
                <!-- <PhStar :size="24" color="#6a6a6a"/> -->
              </div>
              <div v-else>
                <PhStar
                  class="icon-class"
                  :size="24"
                  color="#6a6a6a"
                  @click="saveAsteroid(asteroid)"
                />
              </div>
            </div>
            <div class="card-body">
              <span>ID: {{ asteroid.id }}</span>
              <span>Disatance: {{ asteroid.distance }}</span>
              <span>Hazardous: {{ asteroid.isHazardous }}</span>
              <span>Observation Date: {{ asteroid.observationDate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .card-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .cards {
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    padding: 10px;
    z-index: 10;
    position: relative;
    /* background: url('../assets/nearEarthobj.jpg'); */
    /* background-color: rgb(73, 73, 73); */
  }
  .card-body {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 30px;
    padding-left: 25px;
  }
  .card-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .inner {
    box-shadow: 6px 5px rgb(57, 56, 56);
    /* background-color: rgb(73, 73, 73); */
    background: rgb(38,37,37);
    background: linear-gradient(
      90deg,
      rgba(38,37,37,0.6880953064819677) 29%,
      rgba(8,6,43,0.8869748583026961) 100%);
    z-index: 100;
    position: relative;
    color: #b8b9b6;
    border-radius: 20px;
  }
  .icon-class:hover {
    cursor: pointer;
  }
</style>

<script>
import { mapState } from 'vuex';
import { PhTrash, PhStar } from 'phosphor-vue';

export default {
  props: ['asteroids'],
  components: {
    PhTrash,
    PhStar,
  },
  computed: {
    ...mapState(['asteroidIdsObj']),
  },
  methods: {
    saveAsteroid(asteroid) {
      this.$store.dispatch('saveAsteroid', asteroid);
    },
    deleteAsteroid(asteroid) {
      this.$store.dispatch('deleteAsteroid', asteroid);
    },
  },
};
</script>
