<template>
  <div>
    <!-- <ul>
      <div v-for="asteroid in asteroids" :key="asteroid.id">
        <li>
          <span>{{asteroid.id}}</span>
        </li>
      </div>
    </ul> -->
    <AsteroidDetail :asteroids="asteroids"/>
  </div>
</template>

<script>
import AsteroidDetail from './AsteroidDetail.vue';
import { extractData } from '../../common_functions';

export default {
  data() {
    return {
      asteroids: [],
      nearEarthObj: [],
    };
  },
  components: {
    AsteroidDetail,
  },
  created() {
    fetch('https://api.nasa.gov/neo/rest/v1/neo/browse?page=0&size=10&api_key=tujiOAC57b3zF4ScKOdKWdJQSvSrxPouHxCQeo6w')
      .then(async (response) => {
        const data = await response.json();
        this.nearEarthObj = data.near_earth_objects;
        this.asteroids = extractData(this.nearEarthObj);
      }).catch((err) => console.log(err));
  },
};
</script>
