<template>
  <div class="modal">
    <div class="modal-content">
      <div @click="$emit('close')" class="close">close</div>
      <h3>Reset Password</h3>
      <div v-if="!showSuccess">
        <p>Enter your email to reset your password</p>
        <form @submit.prevent>
          <input v-model.trim="email" type="email" placeholder="you@email.com" />
        </form>
        <p v-if="errorMsg !== ''" class="error">{{errorMsg}}</p>
        <button @click="resetPassword()" class="button">Reset</button>
      </div>
      <p v-else>Success! Check your email for a reset link.</p>
    </div>
  </div>
</template>

<style scoped>
.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.5);
}

.modal .modal-content {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(51, 51, 51, 0.5);
  z-index: 999;
}

.modal .modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  cursor: pointer;
  transition: 0.15s;
}

.modal .modal-content .close:hover {
  color: #000;
}

.modal .modal-content h3 {
  margin: 0;
}

.modal .modal-content p {
  margin: 15px 0;
}

.modal .modal-content .error {
  color: tomato;
  font-size: 12px;
}

.modal .modal-content .button {
  border: 0;
  outline: 0;
  padding: 0.8rem 1rem;
  min-width: 150px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 10px;
  outline: 0;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
}

form input :focus {
  box-shadow: 0 0 5px 0 rgb(34, 14, 14);
}

</style>

<script>
import { auth } from '../../firebase';

export default {
  data() {
    return {
      email: '',
      showSuccess: false,
      errorMsg: '',
    };
  },
  methods: {
    async resetPassword() {
      this.errorMsg = '';
      try {
        await auth.sendPasswordResetEmail(this.email);
        this.showSuccess = true;
      } catch (err) {
        this.errorMsg = err.message;
      }
    },
  },
};
</script>
