<template class="test">
  <div class="search-by-id">
    <div class="id-inner-div">
      <input v-model.number="asteroidId" placeholder="Asteroid Id" type="text"/>
      <button @click="getAsteroidDetailsById">Get Data</button>
      <div v-if="asteroidDetails">
        <AsteroidDetail :asteroids="asteroidDetails" />
    </div>
    </div>
  </div>
</template>

<style scoped>
  .id-inner-div {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .id-inner-div button {
    padding: 3px;
    margin-left: 5px;
  }
</style>

<script>
import { extractData } from '../../common_functions';
import AsteroidDetail from './AsteroidDetail.vue';

export default {
  data() {
    return {
      asteroidId: null,
      asteroidDetails: '',
    };
  },
  components: {
    AsteroidDetail,
  },
  methods: {
    getAsteroidDetailsById() {
      if (!this.asteroidId) {
        // eslint-disable-next-line no-alert
        alert('Kindly enter an id');
      } else {
        fetch(`https://api.nasa.gov/neo/rest/v1/neo/${this.asteroidId}?api_key=tujiOAC57b3zF4ScKOdKWdJQSvSrxPouHxCQeo6w`)
          .then(async (response) => {
            const data = await response.json();
            // eslint-disable-next-line prefer-destructuring
            this.asteroidDetails = extractData([data]);
          }).catch((err) => {
            console.log(err);
            // eslint-disable-next-line no-alert
            alert('Invalid Id');
          });
      }
    },
  },
};
</script>
