<template>
  <div>
    <nav class="navbar">
      <div class="title">
        <router-link to="/">Asteroid Details</router-link>
      </div>
        <a @click="toggleMenu()" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><router-link to="/searchByDate">Asteroids By Date</router-link></li>
            <li><router-link to="/savedAsteroids">Saved Asteroids</router-link></li>
            <li><a @click="logout()">Logout</a></li>
          </ul>
        </div>
    </nav>
  </div>
</template>

<style scoped>
  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.title {
    font-size: 1.5rem;
    margin: .5rem;
    text-decoration: none;
    color: white;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
</style>

<script>
export default {
  methods: {
    logout() {
      this.$store.dispatch('logout');
    },
    toggleMenu() {
      const navbarLinks = document.getElementsByClassName('navbar-links')[0];
      navbarLinks.classList.toggle('active');
    },
  },
};
</script>
