<template>
  <div id="app">
    <SiteNav v-if="showNav"></SiteNav>
    <router-view/>
  </div>
</template>

<style>
body {
  /* background-color: #606060; */
  background: rgb(2,0,36);
  background: linear-gradient(90deg,
    rgba(2,0,36,0.979411833092612) 0%,
    rgba(38,37,37,0.7469188358937324) 100%
  )
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
import { mapState } from 'vuex';
import SiteNav from './components/SiteNav.vue';

export default {
  components: {
    SiteNav,
  },
  computed: {
    ...mapState(['userProfile']),
    showNav() {
      return Object.keys(this.userProfile).length > 1;
    },
  },
};
</script>
